{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<br/><br/>

<div class="pt-3">
{% for app in appointments %}
<p class="text-secondary">Имате записан час за {{ app.hour }} за {{ app.reason }}
<a class="text-danger" href="{% url 'app-delete' user_id=user.id app_id=app.id %}"><b>Анулирай</b></a></p>
{% endfor %}
</div>
<div class="container pt-3">
  <form action="" method="POST">
    {% csrf_token %}
    {{ profile_form|crispy }}
    <button type="submit" class="btn btn-primary">Запази</button>
  </form>
  {% if error %}
  <br/>
  <p style="color: red">{{ error }}</p>
  {% endif %}
  <br/>
</div>
{% endblock content %}
