{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}
<br/>
<p>schedule page {{doctor.practice_name}}</p>

<div class="container-lg">
  <form method="POST">
    {% csrf_token %}
  <div class="row">
    {% for date in dates %}
    <div class="col-sm pt-3" align="left">
      <p>{{ date }}</p>
      {% for hour in hours %}
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="{{ date }}-{{ hour }}" value="{{ date }}-{{ hour }}" name="key {{ date }}-{{ hour }}">
          <label class="form-check-label" for="inlineCheckbox1">{{ hour }}</label>
        </div>
      {% endfor %}
    </div>
    {% endfor %}
    <button type="submit" name="button">POST</button>
  </div>
  </form>
</div>
{% endblock content %}
